<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
	{% load static %}
    {% load women_tags %}
    <link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            {% block mainmenu %}
            <div class="header">
                <ul id="mainmenu" class="mainmenu">
                    <li class="logo"><a href="{% url 'home' %}">
                        <div class="logo"></div>
                    </a></li>
                    {% for m in menu %}
                    {% if not forloop.last %}
                    <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
                    {% else %}
                    <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
            {% endblock mainmenu %}


            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                <tr>

                    <td valign="top" class="left-chapters">
                        <ul id="leftchapters">
                            {% if category_selected == 0 %}
                            <li class="selected">All categories</li>
                            {% else %}
                            <li><a href="{% url 'home' %}">All categories</a></li>
                            {% endif %}

                            {% show_categories category_selected=category_selected %}

                        </ul>
                    </td>

                    <td valign="top" class="content">
                        {% block breadcrumbs %}
                        {% endblock %}

                        <div class="content-text">
                            {% block content %}
                            {% endblock %}
                        </div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign=top>
            <div id="footer">
                <p>&copy; 2023 nika-doroshkevich</p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
